
    <div class="carousel carousel-{{data.carousel.option}}">
   
      {{#if data.carousel.customization.image-one}}
        <div class="slide" style="background: url({{data.carousel.customization.image-one}}) no-repeat center; background-size: cover;">
          <div class="slideText">
            {{#if data.carousel.customization.header-one}}<h1>{{data.carousel.customization.header-one}}</h1>{{/if}}
            {{#if data.carousel.customization.subheader-one}}<p>{{data.carousel.customization.subheader-one}}</p>{{/if}}
          </div>
          <img src="/assets/images/placeholder.png" alt="imageOne">
        </div>
      {{else}}
        <div class="slide" style="background: url(https://everydaypowerblog.com/wp-content/uploads/2017/03/76-Inspirational-picture-quotes-and-motivational-images.jpg) no-repeat center; background-size: cover;">
          <div class="slideText">
            <h1>This is a Sample Text</h1>
            <p>Here is a subheader</p>
          </div>
          <img src="/assets/images/placeholder.png" alt="imageOne">
        </div>
      {{/if}}

      {{#if data.carousel.customization.image-two}}
        <div class="slide" style="background: url({{data.carousel.customization.image-two}}) no-repeat center; background-size: cover;">
          <div class="slideText">
            {{#if data.carousel.customization.header-two}}<h1>{{data.carousel.customization.header-two}}</h1>{{/if}}
            {{#if data.carousel.customization.subheader-two}}<p>{{data.carousel.customization.subheader-two}}</p>{{/if}}
          </div>
          <img src="/assets/images/placeholder.png" alt="imageTwo">
        </div>
      {{else}}
        <div class="slide" style="background: url(https://4.img-dpreview.com/files/p/TS600x450~sample_galleries/0724895971/0009166108.jpg) no-repeat center; background-size: cover;">
          <div class="slideText">
            <h1>This is a Sample Text</h1>
            <p>Here is a subheader</p>
          </div>
          <img src="/assets/images/placeholder.png" alt="imageTwo">
        </div>
      {{/if}}

      {{#if data.carousel.customization.image-three}}
        <div class="slide" style="background: url({{data.carousel.customization.image-three}}) no-repeat center; background-size: cover;">
          <div class="slideText">
            {{#if data.carousel.customization.header-three}}<h1>{{data.carousel.customization.header-three}}</h1>{{/if}}
            {{#if data.carousel.customization.subheader-three}}<p>{{data.carousel.customization.subheader-three}}</p>{{/if}}
          </div>
          <img src="/assets/images/placeholder.png" alt="imageThree">
        </div>
      {{else}}
        <div class="slide" style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4CzJttbVX_SWF7WfzTwxfGKzTim0TR_t9ESkUbCIMtIZRBB3t) no-repeat center; background-size: cover;">
          <div class="slideText">
            <h1>This is a Sample Text</h1>
            <p>Here is a subheader</p>
          </div>
          <img src="/assets/images/placeholder.png" alt="imageThree">
        </div>
      {{/if}}

      {{#if data.carousel.customization.image-four}}
        <div class="slide" style="background: url({{data.carousel.customization.image-four}}) no-repeat center; background-size: cover;">
          <div class="slideText">
            {{#if data.carousel.customization.header-four}}<h1>{{data.carousel.customization.header-four}}</h1>{{/if}}
            {{#if data.carousel.customization.subheader-four}}<p>{{data.carousel.customization.subheader-four}}</p>{{/if}}
          </div>
          <img src="/assets/images/placeholder.png" alt="imageFour">
        </div>
      {{/if}}
      
  
  </div>

