<a href="#" class="backButton button btn-secondary"><i class="fas fa-arrow-left"></i> &nbsp;Back</a>

<form  method="PUT" action="/api/customization/carousel/" class="customizationForm {{data.option}}">

    <div class="item-one">
        <h5>Image 1</h5>
        <input name="image-one" class="form-control mb-1"  placeholder="Image URL" value="{{#if data.carousel.customization.image-one}}{{ data.carousel.customization.image-one}}{{/if}}" />
        <input name="header-one" class="form-control mb-1"  placeholder="Header Title (optional)" value="{{#if data.carousel.customization.header-one}}{{ data.carousel.customization.header-one}}{{/if}}" />
        <input name="subheader-one" class="form-control mb-3"  placeholder="Sub-header Title (optional)"  value="{{#if data.carousel.customization.subheader-one}}{{ data.carousel.customization.subheader-one}}{{/if}}" />
    </div>

    <div class="item-two">
        <h5>Image 2</h5>
        <input name="image-two" class="form-control mb-1"  placeholder="Image URL" value="{{#if data.carousel.customization.image-two}}{{ data.carousel.customization.image-two}}{{/if}}" />
        <input name="header-two" class="form-control mb-1"  placeholder="Header Title (optional)" value="{{#if data.carousel.customization.header-two}}{{ data.carousel.customization.header-two}}{{/if}}" />
        <input name="subheader-two" class="form-control mb-3"  placeholder="Sub-header Title (optional)"  value="{{#if data.carousel.customization.subheader-two}}{{ data.carousel.customization.subheader-two}}{{/if}}" />       
    </div>

    <div class="item-three">
        <h5>Image 3</h5>
        <input name="image-three" class="form-control mb-1"  placeholder="Image URL" value="{{#if data.carousel.customization.image-three}}{{ data.carousel.customization.image-three}}{{/if}}" />
        <input name="header-three" class="form-control mb-1"  placeholder="Header Title (optional)" value="{{#if data.carousel.customization.header-three}}{{ data.carousel.customization.header-three}}{{/if}}" />
        <input name="subheader-three" class="form-control mb-3"  placeholder="Sub-header Title (optional)"  value="{{#if data.carousel.customization.subheader-three}}{{ data.carousel.customization.subheader-three}}{{/if}}" />     
    </div>

    <div class="item-four">
        <h5>Image 4</h5>
        <input name="image-four" class="form-control mb-1" placeholder="Image URL" value="{{#if data.carousel.customization.image-four}}{{ data.carousel.customization.image-four}}{{/if}}" />
        <input name="header-four" class="form-control mb-1"  placeholder="Header Title (optional)" value="{{#if data.carousel.customization.header-four}}{{ data.carousel.customization.header-four}}{{/if}}" />
        <input name="subheader-four" class="form-control mb-3"  placeholder="Sub-header Title (optional)"  value="{{#if data.carousel.customization.subheader-four}}{{ data.carousel.customization.subheader-four}}{{/if}}" /> 
    </div>

<br>

<button class="button btn-primary">Submit</button>
</form>

<style>
    /* we use styles to hide the options */
    .item-one,.item-two,.item-three,.item-four { margin: 0 0 30px 0; }
    .one-text-column .item-two,
    .one-text-column .item-three,
    .one-text-column .item-four,
    .three-text-columns .item-four,
    .two-columns .item-three,
    .two-columns .item-four,
    .two-text-columns .item-three,
    .two-text-columns .item-four,
    .three-columns .item-four { display: none !important; }


</style>
