<a href="#" class="backButton button btn-secondary"><i class="fa fa-back"></i> Back</a>

<form  method="PUT" action="/api/customization/carousel/{{index}}" class="customizationForm {{data.option}}">

<div class="item-one">
<h5>Image 1</h5>
<textarea name="columnOne" id="" class="form-control mb-3"  cols="18" rows="10" placeholder="image">
{{#if data.customization.columnOne}}{{data.customization.columnOne}}{{/if}}
</textarea>
</div>

<div class="item-two">
<h5>Image 2</h5>
<textarea name="columnTwo" id="" class="form-control mb-3"  cols="18" rows="10" placeholder="image" >
{{#if data.customization.columnTwo}}{{data.customization.columnTwo}}{{/if}}
</textarea>
</div>

<div class="item-three">
<h5>Image 3</h5>
<textarea name="columnThree" id="" class="form-control mb-3" cols="18" rows="10" placeholder="image">
{{#if data.customization.columnThree}}{{data.customization.columnThree}}{{/if}}
</textarea>
</div>

<div class="item-four">
<h5>Image 4</h5>
<textarea name="columnFour" id="" class="form-control mb-3" cols="18" rows="10" placeholder="image">
{{#if data.customization.columnFour}}{{data.customization.columnFour}}{{/if}}
</textarea>
</div>

<br>

<button class="button btn-primary">Submit</button>
</form>

<style>
    /* we use styles to hide the options */
    .item-one,.item-two,.item-three,.item-four { margin: 0 0 30px 0; }
    .one-text-column .item-two,
    .one-text-column .item-three,
    .one-text-column .item-four,
    .three-text-columns .item-four,
    .two-columns .item-three,
    .two-columns .item-four,
    .two-text-columns .item-three,
    .two-text-columns .item-four,
    .three-columns .item-four { display: none !important; }


</style>
