  <div class="footer-basic footerWhite"> 
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Portfolio</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
                <li class="list-inline-item"><a href="#">Disclaimer</a></li>
            </ul>
            <div class="social">
             {{#if footerOptions.instagram}}
              <a href="{{footerOptions.instagram}}"><i class="fab fa-instagram"></i></a>
			        {{/if}}
              {{#if footerOptions.snapchat}}
              <a href="{{footerOptions.snapchat}}"><i class="fab fa-snapchat-ghost"></i></a>
			        {{/if}}
              {{#if footerOptions.twitter}}
              <a href="{{footerOptions.twitter}}"><i class="fab fa-twitter"></i></a>
			        {{/if}}
              {{#if footerOptions.facebook}}
              <a href="{{footerOptions.facebook}}"><i class="fab fa-facebook-f"></i></a>
			        {{/if}}
              {{#if footerOptions.linkedIn}}
              <a href="{{footerOptions.linkedIn}}"><i class="fab fa-linkedin"></i></a>
			        {{/if}}
            </div>
            <p class="copyright">Company Name © 2018</p>
        </footer>
    </div>

    	<style>
		.footer-basic {
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
      }

    .footer-basic ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:18px;
      line-height:1.6;
      margin-bottom:10;
    }

    .footer-basic li {
      padding:0 10px;
    }

    .footer-basic ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }

    .footer-basic ul a:hover {
      opacity:1;
    }

    .footer-basic .social {
      text-align:center;
      padding-bottom:25px;
    }

    .footer-basic .social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #ccc;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }

    .footer-basic .social > a:hover {
      opacity:0.9;
    }

    .footer-basic .copyright {
      margin-top:0px;
      text-align:center;
      font-size:13px;
      color:#aaa;
      margin-bottom:0;
    }

		</style>